.green { background: #b7ec16!important; }
.red { background: #f33535!important; }
.blue { background: #17c4db!important; }
.yellow { background: #F8CA00!important; }
.black { background: #191919!important; }
.purple { background: #d83dd0!important; }
.brown { background: #b98664!important; }
.white { background: #fff!important; }
body{
    padding-top: 100px;
    position: relative;
    color: #fff;
    background-color: #eec39b;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #f33535;
    padding-top: 50px;
    padding-bottom: 50px;
}
.guess{ 
    margin-top: 15px;
}

/*Align guess box with hint box*/
.guesses{
    float: left;
}
#hints {
    vertical-align: bottom;
    display: inline-block;
    padding: 20px 20px;
    overflow: hidden;
    /* ADJUST THIS TO ALIGN HINTS WITH SOCKETS */
    padding-top: 85px;
}
.hint{
    padding-bottom: 40px;
}

.secret {
    color: #e3dcb5;
    text-align: center;
    line-height: 30px;
    font-weight: 800;
    font-size: 16px;
}
.hint .socket {
    width: 15px;
    height: 15px;  
}
.code {
    border-bottom: 2px solid #d6561b;
    padding-bottom: 15px;
}
/*Circle */
.choice,
.socket {
    display: inline-block;
    border-radius: 50%;  
}
.socket{
    background-color: #beb2be;
}
.choice,
.code .socket,
.guess .socket {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}
#options button + button {
    margin-left: 10px;
  }

button {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #333;
  background-color: rgb(216, 209, 209);
  vertical-align: middle;
}

#delete {
    font-size: 21px;
    background-color: #dbd087;
  }
.socket.peg {
    -webkit-animation: bounceIn .4s;
    -o-animation: bounceIn .4s;
    animation: bounceIn .4s;
}
.positionmatch{
    background:white;

}
.colormatch{
    background: black;
}


.redbox{
    background-image: url(images/redbox.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bluebox{
    background-image: url(images/bluebox.png);
}
.homecontainer{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.centerfix{
    float: left;
    width: 40%;
    padding: 5px;
    padding-bottom: 200px;
}
.descr h2{
    font-size: 2rem;
    line-height: 0.5rem;
}
.descr h4{
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.descr{
    padding-left: 50px;
}
.stats{
    float: right;
    line-height: 0.5rem!important;
    padding-top: 60px;
}
.title{
    font-size: 3rem;
}
#play{
    background-color: #af2a26;

}
#howto{
    background-color: #0b75a1;
}
.startbutton{
    color:white;
    padding: 14px 45px;
    margin-right: 20px;
}
.ingamestats{
    padding-left: 100px;
    text-align: center;
    float: left;
    padding-top: 150px;
}
.centerbox{
    float: center;
}
.abort{
    background-color: blue;
}